$yellow: #f1c40f ; //theme color, hover/highlight selected text
$almostblack: #333333 ; //theme background, text on white
$lightgrey: #eeeeee ; //auxiliary lines
$white: #ffffff ; //text on darkgreay, unselected text
$yellow2: #ffa616; //a slightly dark yellow for gradient