#brandlogo {
  color: #f1c40f; }


.navbar-inverse .navbar-nav > li > a:hover {
  color: #f1c40f; }

.bar {
  line-height: 80px;
  height: 80px;
  padding-top: 12px; }

.barbrand {
  line-height: 75px;
  height: 75px;
  padding-bottom: 10px; }
